# Annoying Mac file
.DS_Store

# Keep the worlds folder, but ignore the contents
worlds/*
!worlds/.gitkeep

# Same with backups
backups/*
!backups/.gitkeep

# Keep dynmap's configs, but ignore the rest.
dynmap/*
!dynmap/configuration.txt
!dynmap/markers.yml
!dynmap/perspectives.txt
!dynmap/worlds.txt

# Same as dynmap
plugin-configs/mv-inventories/*
!plugin-configs/mv-inventories/config.yml
!plugin-configs/mv-inventories/groups.yml
